
form .form-bottom .input-error {
    border-color: #d03e3e;
    color: #d03e3e;
}

form.eviction_form fieldset {
    display: none;
}

  #map {
    height: 80%;
      width:80%;
      margin-left: 5%;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .current {
      overflow:scroll;
  }

  #address_container, #general_information_container, #amount_due_container, #owner_container  {
      border: 1px solid darkgrey;
      padding: 10px;
      border-radius: 10px;
      width:80%;
  }

.two_defendant_container, .one_defendant_container, .three_defendant_container, .court_information_container {
    border: 1px solid darkgrey;
    padding: 10px;
    border-radius: 10px;
}
  .labels {
      margin-top: 1%;
      font-weight: bold;
  }

  .major_labels {
      margin-top: 2%;
  }

  #pdf_download_btn {
      margin-top: 2%;
      margin-left: 30%;
  }

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#geo_locations {
    width:1200px;
    height:800px;
}

#edit_geo_locations {
    width:100%;
    height:800px;
}
.edit_magistrate_modal {
    width:150%;
    margin-left:-116px;
}
#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#details {
    margin-left:4%;
}
#breached_details {
    width:60%;
}

.magistrate_table {
    font-size:12px;
}

#rented_by_other_div {
    display:none;
}

.eviction_form_div, .unit_number_div, .zipcode_div {
    display:none;
}

.address_display_div, .unit_number_div, .zipcode_div {
    text-align:center;
}

/*      Signature CSS   */
#btnSaveSign {
    color: #fff;
    background: #f99a0b;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
}
#signArea{
    width:304px;
    margin: 50px auto;
}
.sign-container {
    width: 60%;
    margin: auto;
}
.sign-preview {
    width: 150px;
    height: 50px;
    border: solid 1px #CFCFCF;
    margin: 10px 5px;
}
.tag-ingo {
    font-family: cursive;
    font-size: 12px;
    text-align: left;
    font-style: oblique;
}

#signature_pad {
    margin-top:5%;
    border: 1px solid grey;
    border-radius:1em;
}