#current_notes {
    width: 100%;
    border: 1px solid lightgrey;
    overflow: auto;
    padding: 2px;
    resize: both;
    background-color: aliceblue;
    text-align:center;
    border-radius: 1em;
    height: 300px;
}

#new_note {
    width: 100%;
    border: 1px solid lightgrey;
    background-color: #fff5df;
    height: 100px;
}