#login-logo {
    height:auto;
    margin-left:20%;
}

.navbar-nav {
    margin: 7px -15px;
}

.nav {
    padding-left: 0;
    list-style: none;
}

.nav > li {
    position:relative;
    display:block;
}
.navbar-default .navbar-nav > li > a {
    color:#777;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 22px;
    color:#777;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
@media (min-width: 768px) {
.navbar-right {
    float: right !important;
    margin-right: -15px;
}
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-brand {
    float: left;
    padding: 8px 14px;
    font-size: 18px;
    line-height: 22px;
    height: 50px;
}

#navbarSupportedContent {
    margin-left:3%;
}
}
.pdf_download_btn_dashboard, .eviction-remove, .eviction_details {
    cursor:pointer;
}

.titles {
    text-align: center;
    color: #D9B08C;
    font-weight:bold;
}
.urgency_dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}
#red_urgency {
    background-color:red;
}
#yellow_urgency {
    background-color:yellow;
}

#new_file_btn {
    font-size:26px;
    margin-top:4%;
    padding:35px 25px 35px 25px;
    font-family: verdana;
    background-color:#116466;
    border-color:#116466;
    color:#d1e8e2;
    box-shadow: 5px 10px #888888;

}
#new_file_btn:hover {
    background-color: #318782;
}

#new_file_btn:active {
    background-color: #0f6674;
}
#new_filing_container {
    text-align:center;
}

#back_to_step_1_btn {
    border-radius: 10em 0 0 10em;
}
.eviction_table {
    background-color:white;
}

.magistrate_th {
    width:80px;
    text-align: center;
}

.magistrate_civil_th {
    width:120px;
    text-align: center;
}
.card {
    border-radius: 2em;
}
.body_container {
    background-color: #F5F5F5;
    border-radius:2em;
}

.home_text {
    text-align: center;
    margin-left: 6%;
    margin-right: 6%;
}

#get_file_Fee_container {
    font-size:16px;
    margin-top:4%;
    text-align:center;
    padding:10px 5px 10px 5px;
    border: 1px solid gainsboro;
    border-radius:2em;

}

#get_file_fee_btn {
    width:150px;
}

#get_file_fields_container {
    border: 1px solid gainsboro;
    padding: 25px;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top:10%;
}
.header, .footer {
    background: silver;
}
.content {
    flex: 1;
    overflow: auto;
    background: pink;
}
.form-row {
    margin-left: 56px !important;
}
.bg-light {
    background-color: #cccccc !important;
}

.orange {
    background-color: #ee9040;
}

.yellow {
    background-color: #eee148;
}

.create_an_account {
    box-shadow: 5px 10px #888888;
    height: 45px;
    margin-left: 200px;
    margin-bottom: 15px;
}

#current_eviction_notes {
     width: 70%;
     border: 1px solid lightgrey;
     overflow: auto;
     padding: 2px;
     resize: both;
     background-color: aliceblue;
     text-align:center;
     border-radius: 1em;
     height: 200px;
 }

#new_eviction_note {
    width: 70%;
    border: 1px solid lightgrey;
    background-color: #fff5df;
    height: 90px;
}
.delete_county_note {
    display:none;
    cursor:pointer;
    color:red;
    float:right;
    margin-right:5%;
    margin-top:5%;
}